In [1]:
import pandas as pd
import ibm_db
import ibm_db_dbi

In [2]:
# Enter the values for you database connection. This can be found in DB2's Service Credentials from the tooling. 
dsn_database = "XXXXXXXX"            # e.g. "MORTGAGE"
dsn_uid      = "XXXXXXXX"            # e.g. "dash104434"
dsn_pwd      = "XXXXXXXX"            # e.g. "7dBZ3jWt9xN6$o0JiX!m"
dsn_hostname = "XXXXXXXX"            # e.g. "Use the same IP as Web Console"
dsn_port     = "50000"               # e.g. "50000" 
dsn_protocol = "TCPIP"               # i.e. "TCPIP"
dsn_driver   = "IBM DB2 ODBC DRIVER" # Don't change

In [3]:
dsn = ("DRIVER={{IBM DB2 ODBC DRIVER}};" "DATABASE={0};" "HOSTNAME={1};" "PORT={2};" "PROTOCOL=TCPIP;" "UID={3};" "PWD={4};SECURITY=SSL").format(dsn_database, dsn_hostname, dsn_port, dsn_uid, dsn_pwd)
options = { ibm_db.SQL_ATTR_AUTOCOMMIT:  ibm_db.SQL_AUTOCOMMIT_ON }
connection = ibm_db_dbi.connect(dsn, dsn_uid, dsn_pwd, dsn_hostname, dsn_database, options)

In [4]:
readSQL = 'SELECT * FROM NAME_AGE_WEIGHT'

In [5]:
selectSQL = 'SELECT * FROM NAME_AGE_WEIGHT WHERE NAME = \'Mike\''

In [6]:
df_all = pd.read_sql(readSQL, connection)

In [7]:
print(df_all)

     NAME  AGE  WEIGHT
0    Mike   56   100.8
1  Robert   34   210.9
2   Amber   45   105.6
3    Anna   23   204.8

In [8]:
df_mike = pd.read_sql(selectSQL, connection)

In [9]:
print(df_mike)

   NAME  AGE  WEIGHT
0  Mike   56   100.8

In [10]:
connection.close()

True